body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #333B41;
    line-height: 130%;
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.container{
    width: 1160px;
    margin: 0 auto;
    
}

/* header */
header{
    background: #000;

}

.container.header__container{
    height: 80px;
    display: flex;
    align-items: center;
}

.logo{
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    position: relative;
}

.logo_href{
    display: block;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 3.55px 4.5px;
}

.logo > h1{
    text-align: center;
    width: 100%;
    height: 100%;
}

.logo_bamboo{
    position: absolute;
    top: 23.64px;
    left: 9.13px;
    z-index: 0;
}
/* nav */
.nav{
    margin-left: 63px;
    margin-right: auto;
}

.ul_nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.li_nav{
    margin-left: 58px;
}

.li_nav:first-child{
    margin: 0;
}

.nav.header__nav> .ul_nav > .li_nav:nth-child(4){
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.li_nav > a{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

/* desing */
.desing > a{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

/* panda */
.panda{
    background: url(../../assets/images/donate/panda_bg.svg) no-repeat;
    background-size: cover;
    background-position: 0;
}

.container.panda__container{
    height: 386px;
}

/* desktop_donate */

.desktop_donate{
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%,
    #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), 
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, 
    rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), 
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, 
    rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.container.desktop_donate__container{
    height: 1482px;
    padding-top: 40px;
}

/* .information */

.information{
    width: 100%;
    margin-bottom: 60px;
}

.information>p:first-child{
    text-align: justify;
    font-size: 33.1px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.information>p:nth-child(2){
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.information>p:last-child{
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
}

/* pick_and_feed */

.pick_and_feed{
    padding: 40px 92px 62px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    /* height: 964px; */
}

.pick_and_feed>p:first-child{
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
    margin-bottom: 20px;
}

.pick_and_feed>p:nth-child(2){
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 60px;
}

.diet{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
}

.diet>.diet_for_day>p:first-child{
    text-align: center;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.diet>.diet_for_day{
    margin-left: 215px;

}
.diet>img{
    margin-left: 11px;
}

.diet>.panda_diet{
    margin-left: 64px;
}

/* .amount */

.amount{
    margin-bottom: 60px;
}

.amount>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-bottom: 10px;
}

.quantity_back{
    height: 28px;
    border: solid #404950;
    border-radius: 2px;
    border-width: 12px 31px;
    background: #72828E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFEE2E;
    position: relative;
}

.point:hover > div{
    visibility: visible;
}

.first_circle{
    position: absolute;
    width: 22.95px;
    height: 22.95px;
    border-radius: 50%;
    border: solid #FE9013;
    border-width: 2px;
    top: -6.475px;
    left: -6.475px;
    visibility: hidden;
}

.second_circle{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid #FE9013;
    border-width: 2px;
    top: -15px;
    left: -15px;
    visibility: hidden;
}

/* .amount>costs */

.costs{
    display: flex;
    align-items: center;
}

.cost{
    display: flex;
}

.cost>p{
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
}

.cost:first-child{
    margin-right: 63px;
}

.cost:nth-child(2){
    margin-right: 59px;
}

.cost:nth-child(3){
    /* margin-left: 10px; */
    margin-right: 68px;
}

.cost:nth-child(4){
    margin-right: 75px;
}

.cost:nth-child(5){
    margin-right: 75px;
}

.cost:nth-child(6){
    margin-right: 85px;
}

.cost:nth-child(7){
    margin-right: 90px;
}

/* Another amount */
.another_amount{
    width: 268px;
    height: 54px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, .0);

    border: 1px solid #929699;
    border-radius: 2px ;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    margin-bottom: 10px;
}

/* feed */

.feed{
display: flex;
flex-direction: column;

}

.radio_button{
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.radio_button > label{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.radio_button > input{
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    transition: 0.2s all linear;
}

.radio_button > input:checked{
    border: 8px solid #FE9013;
}

.radio_button > input:first-child{
    margin-right: 10px;    
}

.radio_button > input:nth-child(3){
    margin-left: 50px;
    margin-right: 10px;
}

.orange_round_button{
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border-width: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.orange_round_button.feed__orange_round_button{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.feed > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    text-align: center;
}


/* footer */

footer{
    height: 443px;
    background: #000;
}

footer > .container{
    width: 1160px;
    height: auto;
    padding-top: 41px;
}

footer > .container > .section_one{
    height: auto;
    width: 100%;
    display: flex;
    margin: 0 0 44px;
}

footer > .container > .section_two{
    height: auto;
    width: 100%;
    display: flex;
    align-items: end;
}

footer > .container > .section_one > .logo_button{
    margin-right: auto;
}

.logo.footer__logo{
    margin-bottom: 68px;
    margin-top: 0;
}
.orange_square_button{
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer > .container > .section_one > .submit_email > .subscribe{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

footer > .container > .section_one > .submit_email > .input_buttom> .submit{
    width: 129px;
    height: 42px;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
}

footer > .container > .section_one > .submit_email > .input_buttom> input{

    width: 228px;
    height: 42px;
    background: #000;
    border: 0.7px solid #FE9013;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding: 10px;

}


.social_network{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.social_network:last-child{
    margin: 0;
}

.social_network > .logo_href{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    margin-right: 12px;
}

.social_networks_href{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.nav.footer__nav{
    margin-left: 290px;
    margin-top: auto;
}

.designed{
    margin-top: auto;
}

.designed > p{
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 10px;
}


